@import '../../assets/scss/placeholders';
@import '../../assets/scss/mixins';

.integration {
    display: flex;
    justify-content: center;
    align-items: center;
        
    &__container{
        width: 75vw;
        @include extra-small-screen {
            width: 85vw;
          }
        margin-top: 5%;
        &__section{
            display: flex;
            @include extra-small-screen { 
                flex-flow: row wrap-reverse;
                margin-top: 6rem;
            }
            @include small-screen {
                margin-top: 6rem;
                flex-flow: row wrap-reverse;
            }
            &__box{
                h1{
                    font-size: 3rem;
                    color: map-get($colors, headings);
                }
                button{
                    @extend %contact-button;
                }
                p{
                    line-height: 1.5rem;
                    color: map-get($colors, paragraphs);
                }

                &__divider{
                   @extend %divider;
                }
            } 
        }
      
    }

}