<div class="footer" fxLayout="column">
    <div class="footer__social">
        <div *ngFor="let icon of icons">
            <a class="footer__social__link" href="{{icon.url}}" target="_blank">
                <img width="24px" src="{{icon.path}}" alt="social icon">
            </a>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" class="footer__general">
        <div class="footer__general__logo">
            <img width="30px" src="../../assets/images/Group 5.png" alt="">
            <div style="margin-left:1rem;">Responsibly</div>
        </div>
        <div class="footer__general__terms">
           <a href="">Terms & Conditions</a>
           <a href="">Usage</a>
           <a href="">Privacy</a>
        </div>
        <div class="footer__general__copyright">
           @Copyright Responsibly 2020
        </div>
    </div>
</div>
