.footer{
    &__social{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #504F60;
        height: 7rem;

        &__link{
            margin: 0 .75rem;
        }
    }
    &__general{
        background-color: black;
        min-height: 5rem;

        &__logo{
            margin-left: 1rem;
            font-weight: bold;
            padding-top: 1rem;
        }

        &__terms{
            justify-content: center;
            padding: 1rem 0;
            a {
                margin: 0 1rem;
                font-size: .8rem;
                color: white;
            }
        }

        &__copyright{
            justify-content: flex-end;
            margin-right: 1rem;
            font-size: .8rem;
            padding-bottom: 1rem;
        }

        &__logo, &__terms, &__copyright{
            width: 33.33%;
            color: white;
            display: flex;
            align-items: center;
        }
    }
      
}