
%contact-button {
    background-color:#4285F4;
    color: white;
    border-radius: 50px;
    width: 12rem;
    font-size: 1rem;
    padding: .2rem;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.16);
}