@charset 'utf-8';
@import 'my-theme';
@import 'placeholders';
@import 'mixins';

html, body {
    height: 100%;
}

  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    transition: background 2s ease;
}
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-weight: 500;
}
  