<div class="contact">
    <div class="contact__container" fxLayout="column">
        <h2> Contact Us</h2>
        <div class="contact__container__divider"></div>
        <section fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="10%">
            <div fxFlex="20%" fxLayout="column" fxLayoutGap="5%">
                <div *ngFor="let contact of contacts" fxLayout="row">
                    <div style="margin-right: 1rem;">
                        <mat-icon>{{contact.ligature}}</mat-icon>
                    </div>
                    <div fxLayout="column">
                        <h3>{{contact.title}}</h3>
                        <p>{{contact.text}}</p>
                    </div>
                </div>
            </div>
            <form fxFlex="70%"   
                name="contact"
                data-netlify=”true”
                method="POST"
                id="contactForm" 
               >
                <div class="contact__container__form" fxLayout="column" fxLayoutAlign="start">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput name="name" type="text">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Email Address</mat-label>
                        <input matInput  name="email" type="email" >
                    </mat-form-field>
                    <mat-form-field     >
                        <mat-label>Your Message</mat-label>
                        <textarea matInput name="message"></textarea>
                    </mat-form-field>
                    <button  id="submitForm" type="submit" mat-raised-button>Submit</button>
                </div>  
            </form>
        </section>
    </div>
</div>

