.nav {
    width: 100%;
    height: 12vh;
    position: fixed;
    z-index: 100;
    background-color: white;
    &__logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 2rem;
    }

    &__burger{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
    
    }
    &__list{
        padding: 0;
        display: inline-flex;  
        &__item{
            padding: 1rem;
            height: 100%!important;
        }
        .active{
            border-bottom: solid 3px #4285F4;
            font-weight: 700;
        }
    }
}