<div class="nav" fxLayout="row" fxLayoutGap="3%">
    <div fxLayoutAlign="flex-start center" class="nav__logo">
        <div class="nav__logo">
            <img width="60px" src="../../assets/images/Group 5.png" alt=""><span style="margin-left: 16px; color:#3F3D56;">Responsibly</span>
        </div>
    </div>
    <mat-nav-list 
        fxLayoutAlign="center"
        fxShow.gt-sm="true"
        fxShow="false"
        class="nav__list"
        role="menu"
        >
        <a  
            *ngFor="let menuItem of menuItems"  
            class="nav__list__item"
            mat-list-item
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            routerLink="{{menuItem.path}}"
        >
          {{menuItem.text}}
        </a>
    </mat-nav-list>
    <div class="nav__burger" fxHide.gt-sm="true" fxHide="false" fxFlex="30%">
        <a  mat-icon-button
            fxLayoutAlign="center center"
            (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </a>
    </div>
    
</div>
