<div class="nav" fxLayout="row" fxLayoutGap="3%">
    <div fxFlex="60%" fxFlex.gt-sm="30%" fxLayoutAlign="flex-start center" class="nav__logo">
        <div>Responsibly</div> 
    </div>
    <mat-nav-list 
        fxFlex="30%"
        fxLayoutAlign="center"
        fxShow.gt-sm="true"
        fxShow="false"
        class="nav__list"
        role="menu"
        >
        <a  
            *ngFor="let menuItem of menuItems"  
            class="nav__list__item"
            mat-list-item
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            routerLink="{{menuItem.path}}"
        >
          {{menuItem.text}}
        </a>
    </mat-nav-list>
    <div class="nav__burger" fxFlex="30%">
        <a  mat-icon-button
            fxHide.gt-sm="true"
            fxHide="false"
            fxLayoutAlign="center center"
            (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </a>
    </div>
    
</div>
