.app {
    display: grid;
    grid-template-areas:
        'nav'
        'main'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    &__navbar{
        grid-area: nav;
    }
    &__main{
        grid-area: main;
    }
    &__footer{
        grid-area: footer;
    }
}