.sidenav {
    &__button {
      position: fixed;
      width: 4em;
      height: 4em;
  
      &__link {
        position: fixed;
        top: 3.7em;
        right: 5em;
        mat-icon{
          font-size: 50px;
          color: rgb(206, 203, 203);
        }
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
      }
    }
  
    &__content {
      top: 25%;
      text-align: center;
      list-style-type: none;
  
      a {
        padding: 8px;
        text-decoration: none;
        color:white;
        font-size: 2rem;
        display: block;
        transition: 0.3s;
        &:focus{
          outline: none;
        }
        &:hover {
          cursor: pointer;
          color: rgb(0, 238, 255);
        }
      }
  
    }
  
  }
