@import '../../assets/scss/placeholders';
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.get-started {
    &__container{
        width: 85vw;
        
        height: 60vh;
        h1{
            color: map-get($colors, headings);
        }
        p{
            color: map-get($colors, paragraphs);
        }
        button{
            @extend %contact-button;
            margin: 1rem 0 2rem;
        }
        &__divider{
            @extend %divider;
            margin-bottom: 1rem;
        }    
    }
}