<div class="product">
    <div fxLayout="column" class="product__container">
    <section class="product__container__introduction">
        <h2> Problem </h2>
        <div class="product__container__legal__box__divider"></div>

        <div fxLayout="column"fxLayout.gt-sm="row">
            <div fxFlex="40%" fxLayout="column">
                <p>

                    The ethics of AI, is a critical challenge for the global tech industry. The speed with which AI 
                    is changing the world has urged the industry to incorporate ethical 
                    considerations when developing new machine learning products. With almost no laws specifically governing AI, 
                    most companies lack a basic AI ethics framework to regulate how their AI is being developed, tested and used. 
                </p>
                <p>So this is why we built Responsibly. </p>
            </div>
           <div fxFlex="60%">
            <img width="100%" src="../../assets/images/thinking.png" alt="thinking image">
           </div> 
        </div>
        
       
        <!-- <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutGap="3%" style="margin: 3rem 0 4rem;">
            <div *ngFor="let stat of stats">
                <mat-card class="product__container__introduction__card">
                    <h3 class="product__container__introduction__card__value">{{stat.value}}</h3>
                    <div class="product__container__introduction__card__text">{{stat.text}}</div>
                </mat-card>
            </div>
        </div> -->

    </section>
    <section class="product__container__vision" fxLayout="row" fxLayoutAlign="center center">
        <div class="product__container__vision__statement">
            <h4>Our Vision is to bridge the gap between data science and 
                legal teams so that in the future, they can collaborate 
                and be part of an AI Ecosystem that creates ethical, 
                explainable and interpretable AI products which can 
                be trusted by consumers.
            </h4>
            <button mat-raised-button routerLink="/contact">Get in Touch</button>
        </div>
    </section>

    <div style="width:70vw; margin: 4rem 0 0;">
        <h2> Our Product - Platform as a Service </h2>
        <p>Responsibly is an AI auditing and reporting platform that helps businesses design, develop and test AI products to ensure they are fair, ethical, explainable & interpretable before being signed off by legal teams and brought to market.
        </p>       
    
    </div>
        
     <section fxLayout="row" fxLayoutAlign="center center" class="product__container__data">
       
        <div fxLayout="column" fxFlex.gt-sm="40%" fxLayoutAlign="center flex-start" class="product__container__data__box">
            <h2> Bias Detection and Removal </h2>
            <div class="product__container__legal__box__divider"></div>
            <p>
                Our Bias Detection & Removal tool  enables data scientists and engineers by detecting and reducing bias in their data and AI Models.

            </p>
        </div>
        <div fxFlex.gt-sm="60%" fxLayoutAlign="center center"  style="margin-bottom: 1rem;">
            <img width="80%" src="../../assets/images/product-data.png" alt="">
        </div>
     </section>

     <section fxLayout.gt-sm="row" fxLayout="column" class="product__container__legal">
        <div fxFlex.gt-sm="55%" fxLayoutAlign="center center" style="margin-bottom: 1rem;">
            <img width="80%" src="../../assets/images/product-legal.png" alt="">
        </div>
        <div fxLayout="column" fxFlex.gt-sm="45%" fxLayoutAlign="center flex-start" class="product__container__legal__box">
            <h2> Legal Compliance Auditing & Reporting </h2>
            <div class="product__container__legal__box__divider"></div>
            <p>
                Our Legal Compliance Reporting tool arms legal entities with the information they need to ensure all technological innovation is regulatory compliant. 
            </p>
        </div> 
    </section>

    <section fxLayout="row" fxLayoutAlign="center center" class="product__container__user">
        <div fxLayout="column" fxFlex.gt-sm="45%" fxLayoutAlign="center flex-start" class="product__container__user__box">
            <h2>Explainable AI</h2>
            <div class="product__container__user__box__divider"></div>
            <p>
                Our XAI tool creates transparency between end users and AI by ensuring that the logic behind the outcome of an executed algorithm is explainable.
 
            </p>

        </div> 
        <div fxFlex.gt-sm="55%" fxLayoutAlign="center center"  style="margin-bottom: 1rem;">
            <img width="100%" src="../../assets/images/xai.png" alt="">
        </div>
    </section>
    </div>
</div>
<app-get-started></app-get-started>
