@import '../../assets/scss/placeholders';
@import '../../assets/scss/variables';

.product{
    margin: 0 auto;
    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            color: map-get($colors, headings);
        }

        &__introduction{
            width: 70vw;
            margin-top: 5%;
            p{
                line-height: 1.5rem;
                color: map-get($colors, paragraphs);
            }
        
            &__card{
                border-radius: 0;
                box-shadow: 0 10px 10px 0 rgb(0, 0, 0, .12);
                &__value{
                    color: map-get($colors , primary );
                    font-size: 2rem;
                }
                &__text{
                    color: #acacac;
                    font-size: .8rem;
                    line-height: 1.3rem;
                }
            }
        }

        &__vision{
            color: white;
            width: 100%;
            background-color: map-get($colors , primary );
            &__statement{
                font-size: 1.3;
                padding: 4rem 0;
                width: 70%;
                line-height: 2rem;
                button{
                    @extend %contact-button;
                    color: map-get($colors , primary );
                    background-color: white;   
                }
            }
        }

        &__data, &__legal, &__user{
            width: 70vw;
            margin: 6% 0;
            &__box{

                button{
                    @extend %contact-button;
                }
                p{
                    line-height: 1.5rem;
                    color: map-get($colors, paragraphs);
                }

                &__divider{
                   @extend %divider;
                   margin-bottom: 1rem;
                }
            } 
        }
      
    }

}