@import '../../assets/scss/placeholders';
@import '../../assets/scss/mixins';
.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15% 0 0;
        width: 75vw;
        @include small-screen{
          margin: 12rem 0 0;
          width: 85vw;
        }
        @include extra-small-screen{
          margin: 12rem 0 0;
          width: 85vw;
        }
        &__image{
          width: 30%;
          @include extra-small-screen{
            width: 40%;
          }
        }
      button{
        @extend %contact-button;
        margin: 4rem 0;
        a{
            text-decoration: none;
            color: white;
        }
      }
    }

}