@import "../../assets/scss/placeholders";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    width: 75vw;
    @include extra-small-screen {
      width: 85vw;
    }

    &__landing,
    &__knowledge,
    &__integration {
      margin: 15% 0 0;

      &__box {
        display: flex;
        @include small-screen {
          justify-content: center;
          align-items: center;
        }

        &__title {
          font-size: 2.2rem;
          color: map-get($colors, headings);
          @include extra-small-screen {
            text-align: center;
          }
        }
        button {
          @extend %contact-button;
        }
        p {
          line-height: 1.5rem;
          color: map-get($colors, paragraphs);
        }

        &__divider {
          @extend %divider;
        }
      }
    }

    &__landing {
      display: flex;
      @include extra-small-screen {
        margin: 10rem 0 5rem;
        flex-flow: row wrap-reverse;
      }
      @include small-screen {
        margin: 10rem 0 5rem;
        flex-flow: row wrap-reverse;
      }
    }

    &__integration {
      display: flex;
      flex-direction: row;
      @include small-screen {
        flex-flow: row wrap-reverse;
      }
      @include extra-small-screen {
        flex-flow: row wrap-reverse;
      }
    }
  }
}
