<div class="home">
    <div class="home__container">
     <section class="home__container__landing">
        <div>
            
        </div>
        <div>
            <img src="../../assets/images/home-landing.png" alt="">
        </div>
     </section>
     <section class="home__container__knowledge">
        <img src="../../assets/images/home-knowledge.png" alt="">
       
    </section>
    <section class="home__container__integration">
       <img src="../../assets/images/home-integ.png" alt="">
    </section>
    </div>
</div>
