<div class="home">
    <div fxLayout="column" class="home__container">
     <section fxLayoutAlign="center center" class="home__container__landing">
        <div fxLayout="column" fxFlex.gt-sm="45%" fxLayoutAlign.gt-xs="center flex-start" fxLayoutAlign.xs="center center" class="home__container__landing__box">
            <h1 class="home__container__landing__box__title">Cultivating an Artificial Intelligent Ecosystem that empowers teams to innovate responsibly. </h1>
            <button mat-raised-button routerLink="/contact">Get in Touch</button>  
        </div>
        <div fxFlex.gt-sm="55%" fxLayoutAlign="center center">
            <img width="80%" src="../../assets/images/home-landing.png" alt="">
        </div>
     </section>

     <section fxLayout="column" fxLayout.gt-sm="row"  class="home__container__knowledge">
        <div fxFlex.gt-sm="55%" style="margin-bottom: 2rem;" fxLayoutAlign="center center">
            <img width="80%" src="../../assets/images/home-knowledge.png" alt="">
        </div>
        <div fxLayout="column" fxFlex.gt-sm="45%" fxLayoutAlign="center flex-start" class="home__container__knowledge__box">
            <h2>Bridging the knowledge gap between Legal Teams and Data Scientists </h2>
            <div class="home__container__knowledge__box__divider"></div>
            <p>
                We are Responsibly - an ethical AI auditing and reporting 
                framework that empowers data scientists and legal teams to work together 
                and accelerate the innovation process in large enterprises. 
            </p>
            <p>
                Our framework bridges the knowledge gap between Legal Teams 
                and Data Scientists by ensuring the creation of interpretable, 
                explainable, and ethical AI models. 
                Legal teams can now feel empowered and confident that 
                regulatory compliance is being upheld.
            </p>
        </div> 
    </section>

    <section  fxLayoutAlign="center center" class="home__container__integration">
        <div fxLayout="column" fxFlex.gt-sm="45%" fxLayoutAlign="center flex-start" class="home__container__integration__box">
            <h2>Seamless Integration</h2>
            <div class="home__container__integration__box__divider"></div>
            <p>
                Okay, it might all sound very complicated but don't worry, it's not. 
                Data scientists and software engineers can integrate our product 
                by simply by making a call to our API endpoint. 
                This is where the magic happens!
 
            </p>
            <p>
                Any bias in your data is detected and the returned response is 
                a generated report outlining how ethical your  
                your AI model truly is and how it can be improved.
            </p>
            <p>
                It's that simple!
            </p>
        </div> 
        <div fxFlex.gt-sm="55%" style="margin-bottom: 2rem;" fxLayoutAlign="center center">
            <img width="80%" src="../../assets/images/home-integ.png" alt="">
        </div>
    </section>
    </div>
</div>
<app-get-started></app-get-started>
